snippet tfc "single line export"
const `!p snip.rv = snip.basename` = (): JSX.Element => {
	return <div></div>;
}

export default `!p snip.rv = snip.basename`;
endsnippet	

snippet clg "console snippet"
console.log()
endsnippet	
