[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/anon/Desktop/Day of Defeat Source.desktop]
row=3
col=1

[/home/anon/Desktop/google-chrome.desktop]
row=2
col=0

[/home/anon/Desktop/vscodium.desktop]
row=5
col=0

[/home/anon/Desktop/firefox.desktop]
row=1
col=0

[/home/anon/Desktop/MORDHAU.desktop]
row=6
col=1

[/home/anon/Desktop/xfce4-terminal.desktop]
row=3
col=0

[/home/anon/Desktop/Counter-Strike Source.desktop]
row=2
col=1

[/home/anon/Desktop/Counter-Strike.desktop]
row=1
col=1

[/home/anon/Desktop/thunar.desktop]
row=4
col=0

[/home/anon/Desktop/steam.desktop]
row=0
col=1

[/home/anon/Desktop/0ad.desktop]
row=5
col=1

[/home/anon/Desktop/Half-Life 2 Deathmatch.desktop]
row=4
col=1

[da79999f-5a6c-4aa6-9f08-1a99e443327b]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=7
col=0

[/home/anon]
row=6
col=0

